@{
    ViewBag.Title = "Web";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <section style="text-align: center; margin-top: 48px;">
        <article>
            <div style="margin-top: 3%;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p style="display: none;" id="cursoActual">2</p>

                <a style="text-decoration:none; color: black;" href="/Curso/Html">
                    <div class="cuadrosPrincipalesHome col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <img src="http://montes.cc/imagenes/Web/html.png" style="height: auto; width: 40%; margin-top: 3%; max-width: 90px;" />
                        <p>Html</p>
                    </div>
                </a>

            </div>
        </article>
    </section>
</div>
